langgraph==1.0.2
langchain==0.3.27
langsmith==0.4.8
qdrant-client
streamlit
python-dotenv
langchain-openai
langchain-community
langchain-text-splitters
langgraph-prebuilt==1.0.2
pypdf
requests
langchain-qdrant
langchain-cohere
