langgraph==1.0.2
langchain==0.3.27
langsmith==0.4.8
qdrant-client
streamlit==1.49.1
python-dotenv
langchain-openai==0.3.17
langchain-community
langchain-text-splitters==0.3.9
pypdf
requests==2.31.0
langchain-qdrant==0.2.0
langchain-cohere
streamlit==1.49.1